/*<meta />*/

@media only screen and (max-width: 1279px)
{
	/* Search Styles */

	.search-filter
	{
		font-size: 1em;
	}

	.button.login-button.feedback-required,
	.button.edit-user-profile-button.feedback-required
	{
		display: none;
	}

	.pulse-frame
	{
		display: none;
	}

	.search-bar.mc-component
	{
		
	}

	.mc-component .search-field
	{
		background-color: #ffffff;
	}

	.mc-component .search-filter
	{
		background-repeat: no-repeat;
		background-position: center center;
		background: #ffffff url('Images/FilterOutline.png') no-repeat center center;
	}

	.mc-component .search-submit
	{
		background-repeat: no-repeat;
		background-position: center center;
		background: #bed230 url('Images/SearchIcon.png') no-repeat center center;
	}

	.mc-component .search-filter-content
	{
		top: 2em;
		background-color: #ffffff;
	}

	.mc-component .search-filter.open
	{
		background-repeat: no-repeat;
		background-position: center center;
		background-color: #ffffff;
	}

	.mc-component .search-filter.selected
	{
		background-repeat: no-repeat;
		background-position: center center;
		background: transparent url('Images/Filter.png') no-repeat center center;
	}

	.mc-component .search-filter-content ul li:hover
	{
		background-color: #ffffff;
	}

	.mc-component .search-field::-webkit-input-placeholder
	{
		
	}

	.mc-component .search-field::-moz-placeholder
	{
		
	}

	.mc-component .search-field:-moz-placeholder
	{
		
	}

	.mc-component .search-field:-ms-input-placeholder
	{
		
	}

	ul.menu.mc-component
	{
		background-color: #ffffff;
	}

	ul.menu.mc-component a
	{
		
	}

	ul.menu.mc-component li > a
	{
		background-color: transparent;
	}

	ul.menu.mc-component ul > li > a
	{
		background-color: transparent;
	}

	ul.menu.mc-component ul ul > li > a
	{
		background-color: transparent;
	}

	ul.menu.mc-component ul ul ul > li > a
	{
		background-color: transparent;
	}

	ul.menu.mc-component ul ul ul ul > li > a
	{
		background-color: transparent;
	}

	ul.menu.mc-component li > a.selected
	{
		background-color: transparent;
	}

	ul.menu.mc-component li > a:hover
	{
		background-color: #cacaca;
	}

	ul.menu.mc-component ul > li > a:hover
	{
		background-repeat: repeat;
		background-color: #cacaca;
	}

	ul.menu.mc-component ul ul > li > a:hover
	{
		background-repeat: repeat;
		background-color: #cacaca;
	}

	ul.menu.mc-component ul ul ul > li > a:hover
	{
		background-repeat: repeat;
		background-color: #cacaca;
	}

	ul.menu.mc-component ul ul ul ul > li > a:hover
	{
		background-repeat: repeat;
		background-color: #cacaca;
	}

	ul.menu.mc-component li > a.selected:hover
	{
		background-color: #cacaca;
	}
}

