﻿/****************************** Reset ******************************/

p, h1, h2, h3, h4, h5, ul, ol {
	margin: 0;
}

/* hide captions but keep them for screen readers */
caption, figcaption {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
}

/****************************** Typography ******************************/

html, body {
	font-family: "Proxima Nova", Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5rem; /* baseline: 24px */
	color: #1a1a1a;
}

/* necessary for a sticky footer */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 5rem; /* footer height + some more space before */
}

dt, dd {
	line-height: 1.5rem;
	margin-left: 0;
}

p, ul, ol, dd, img {
	margin-bottom: 1.5rem;
}

ul, ol, dl {
	padding-left: 2.5rem;
}

ol.steps>li {
	margin-bottom: .75rem;
}

/* fix vertical rythm for even number of steps */
ol.steps>li:nth-child(even):last-child {
	margin-bottom: 2.25rem;
}

code,
pre,
pre.highlight {
	font-size: 13px;
	color: #414042;
	border-radius: 2px;
	border: 0;
	line-height: 1rem;
	background-color: #F7F7F7;
}

pre {
	padding: .25rem;
	margin-bottom: 1rem;
}

/* Modular scale: http://www.modularscale.com/?16&px&1.333&web&text */
h1 {
	font-weight: 300;
	color: #1a1a1a;
	font-size: 2.369rem;
	line-height: 3rem;
}
h2 {
	font-size: 28.43px;
	font-weight: 300;
	color: #1c89bd;
	font-size: 1.777rem;
	line-height: 3rem;
}
h3 {
	font-size: 21.328px;
	font-weight: 400;
	color: #1c89bd;
	font-size: 1.333rem;
	line-height: 2rem;
	margin-top: -.5rem; /* move it a bit higher from text */
}
h4 {
	font-size: 16px;
	color: #1c89bd;
	font-size: 1rem;
}

table {
	margin-bottom: 1.5rem;
	margin-left: -0.5rem;
}

	th,
	td {
		padding: 0 1rem;
		border-bottom: 1px solid #e6e6e6;
	}

	tbody:first-child tr:first-child td,
	tbody:first-child tr:first-child th {
		border-top: 1px solid #e6e6e6;
	}

	td:first-child,
	th:first-child {
		padding-left: .5rem;
	}

	td:last-child,
	th:last-child {
		padding-right: .5rem;
	}

	th {
		background-color: #ecf7fc;
		white-space: nowrap;
	}

dl.modules {
	padding-left: 4rem;
}
	dl.modules dt i.fa {
		position: absolute;
		width: 25px;
		height: 25px;
		font-size: 25px;
		margin-left: -35px;
		text-align: center;
	}


/****************************** Search ******************************/

/* reset MadCap search styles */
.search-bar.mc-component {
	margin-top: 0;
}


/****************************** Navigation ******************************/

.navbar { margin-bottom: 0; }

.navbar-inverse { background-color: #0a3347; }
.navbar-inverse .navbar-brand { color: #fff }
.navbar-inverse .navbar-nav>li>a { color: #e6e6e6; font-weight: 200; }

/* remove bootstrap's form inset border on narrow viewport */
.navbar-form {
	border: 0;
	box-shadow: none;
}

/* overriding and completing Flare's default menu styles */
#doc-nav {
	margin-top: 40px; /* = page-header top margin */
	margin-right: 1rem;
}

	#doc-nav ul.menu {
		width: auto;
	}

	#doc-nav ul.sub-menu {
		padding-left: 1rem;
		font-size: 90%;
	}

	#doc-nav li a {
		padding: .4rem .5rem;
		border-bottom: 1px solid transparent;
	}

		#doc-nav li a:focus,
		#doc-nav li a:hover,
		#doc-nav li a.selected,
		#doc-nav li a.selected:focus,
		#doc-nav li a.selected:hover {
			color: #1a1a1a;
			background-color: transparent;
			border-bottom: 1px solid #1c89bd;
		}

/* sticky footer code: https://getbootstrap.com/examples/sticky-footer/ */
footer {
	background-color: #0a3347;
	color: #e6e6e6;
	text-align: center;
	position: absolute;
	bottom: 0;
	width: 100%;
	padding-top: 1rem;
	padding-bottom: 2rem;
	height: 4rem; /* body's bottom margin depends on this value */
}


/****************************** Home page ******************************/
.home section, .home .jumbotron {
	margin-bottom: 2rem;
}

.home h2 {
	margin: 0;
}

.home #intro.jumbotron {
	background-position: center center;
	background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url('../Images/skyscraper.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
	margin-bottom: 0
}

	.home #intro.jumbotron p {
		margin-top: 1rem;
	}

.home section#apps {
	text-align: center;
	background-color: #1c89bd;
	color: #fff;
	padding-top: 2rem;
	padding-bottom: 2rem;
	padding-bottom: 0;
}

	.home section#apps h2 {
		color: #fff;
	}

	.home section#apps i.fa {
		font-size: 2.5rem;
	}

	.home section#apps p {
		margin-bottom: 2rem;
	}

.home section#data {
	margin-bottom: 0.5rem;
}

	.home section#data .epic {
		font-size: 21px;
		font-weight: 200;
		text-align: center;
		margin: 0 auto 2rem;
		max-width: 60rem;
	}

	.home section#data .row i.fa {
		font-size: 2rem;
		position: absolute;
	}

		.home section#data .row i.fa.fa-building {
			top: 3px; /* fix wrong position of the building icon */
		}

	.home section#data .row p {
		margin-left: 40px;
		margin-bottom: 2rem;
	}

.home #getstarted.jumbotron {
	background-position: center center;
	background-image: url('../Images/airport.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 70px;
	padding-bottom: 70px;
	text-align: center;
}

	.home #getstarted a.btn {
		border-radius: 3px;
		letter-spacing: 1px;
		border: 0;
		text-transform: uppercase;
		font-weight: 700;
		padding: 0 40px;
		line-height: 54px;
		height: 50px;
		background-color: #1c89bd;
		color: #fff;
	}


.home .modules p {
	min-height: 3rem; /* 2*line-height of description to align lists of modules */
}

.home .modules ul {
	list-style: none;
	line-height: 2.5rem;
	padding-left: 0;
}

	.home .modules li.comming-soon {
		color: #919191;
	}

		.home .modules li.comming-soon:after {
			content: " (comming soon)";
			font-size: .75rem;
		}

	.home .modules ul li a {
		display: inline-block;
		line-height: 2.5rem;
		padding-right: 1rem;
		color: #1a1a1a;
	}

	.home .modules ul i.fa {
		width: 3rem;
		font-size: 1.5rem;
		text-align: center;
		vertical-align: top;
		margin-top: .5rem;
	}


/****************************** API reference ******************************/

section.reference {
	margin-bottom: 1.5rem;
}

.endpoint h3 {
	font-size: 1rem;
	margin-top: .5rem;
	margin-bottom: .5rem;
	margin-left: -0.5rem;
	cursor: pointer;
	color: #1a1a1a;
	background-color: #ecf7fc;
	border-top: 1px solid #d6d6d6;
	border-bottom: 1px solid #d6d6d6;
	transition: background-color .4s;
}

	.endpoint h3.active {
		border-color: #1c89bd;
		background-color: #1c89bd;
		color: #fff;
	}

	.endpoint h3 .method {
		text-transform: uppercase;
		font-size: .75rem;
		display: inline-block;
		padding: 0 .5rem;
		width: 3.5rem;
		font-weight: bold;
	}

	.endpoint h3.http-post .method {
		color: #1C89BD;
	}

	.endpoint h3.http-get .method {
		color: #0BB229;
	}

	.endpoint h3.http-put .method {
		color: #FF8F14;
	}

	.endpoint h3.http-delete .method {
		color: #FF3E1B;
	}

	.endpoint h3.active .method {
		color: #fff;
	}

.endpoint h4 {
	line-height: 2rem; /* broken vertical rythm, let's solve it later */
}

.endpoint>div {
	display: none;
	padding-bottom: 1.5rem;
}

.definitions h3 {
	color: #1a1a1a;
	margin-top: 2rem;
}

.definitions h2 + h3 {
	margin-top: .5rem;
}

/* Reference Tables */
.definitions table,
.reference table {
	width: 100%;
	font-size: .75rem;
}

	.definitions table th,
	.reference table th {
		background-color: transparent;
	}

	.definitions table tr:first-child th,
	.reference table tr:first-child th {
		text-transform: uppercase;
	}

	.definitions tbody:first-child tr:first-child th,
	.reference tbody:first-child tr:first-child th {
		border-top: none;
	}

@media (min-width: 1170px) {
	/* add more horizontal whitespace for wide viewports */
	.col-sm-4,
	.col-sm-6 {
		padding-left: 4rem;
		padding-right: 4rem;
	}
}
