@namespace MadCap url(http://www.madcapsoftware.com/Schemas/MadCap.xsd);
p.example
{
    color: #546C7F;
    border: solid 1px #BECFDC;
    background-color: #DEE8F0;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    padding: 14px 20px;
}

p.note
{
    color: #616E14;
    border: solid 1px #BFD62F;
    background-color: #DAE691;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    padding: 14px 20px;
}

a
{
    color: #5B8EC1;
}

MadCap|expanding
{
    mc-open-image: url('resources:Images/WebHelp/minus.png');
    mc-closed-image: url('resources:Images/WebHelp/plus.png');
    mc-image-position: left;
}

MadCap|dropDown
{
    mc-open-image: url('resources:Images/WebHelp/minus.png');
    mc-closed-image: url('resources:Images/WebHelp/plus.png');
}

MadCap|toggler
{
    mc-open-image: url('resources:Images/WebHelp/minus.png');
    mc-closed-image: url('resources:Images/WebHelp/plus.png');
    color: inherit;
}

MadCap|popupHead
{
    color: #5B8EC1;
}

MadCap|popupBody
{
	color: #EBEBEB;
	border: none;
	background-color: rgba(0, 0, 0, .85);
	padding: 11px 15px;
}

MadCap|glossaryTerm
{
}

MadCap|glossaryTerm.Expanding
{
    color: inherit;
    font-weight: inherit;
}

MadCap|glossaryTerm.Hyperlink
{
    color: #5B8EC1;
    font-weight: inherit;
}

MadCap|glossaryTerm.Popup
{
    color: #5B8EC1;
    font-weight: normal;
}

MadCap|conceptLink
{
    color: #000000;
}

MadCap|keywordLink
{
    color: #000000;
}

MadCap|relatedTopics
{
    color: #000000;
}

MadCap|helpControlMenu
{
    color: #707070;
    background-color: #FFFFFF;
    border: none;
}

MadCap|helpControlMenuItem
{
    color: inherit;
    font-size: inherit;
    font-family: inherit;
}

MadCap|helpControlMenuItem.Highlighted
{
	color: #000000;
    background-color: #E5EFF7;
}
