@namespace MadCap url(http://www.madcapsoftware.com/Schemas/MadCap.xsd);
/*<meta />*/

MadCap|expandingHead
{
	font-style: italic;
	font-weight: normal;
	cursor: hand;
	text-decoration: none;
	color: #006600;
}

MadCap|expandingBody
{
	color: #777777;
	font-style: italic;
}

MadCap|dropDownHotspot
{
	cursor: hand;
	font-style: italic;
	text-decoration: none;
	color: #006600;
}

div.warning
{
	background: yellow;
}

ul.menu.li
{
	position: relative;
	display: block;
	padding: 10px 15px;
	margin-bottom: -1px;
	background-color: #fff;
	border: 1px solid #ddd;
}

html
{
	mc-master-page: url('../Master Pages/FullWidth.flmsp');
}

html.homepage
{
	mc-master-page: url('../Master Pages/Home.flmsp');
}

html.concepts
{
	mc-master-page: url('../Master Pages/Concepts.flmsp');
}

html.reference
{
	mc-master-page: url('../Master Pages/Reference.flmsp');
}

pre.highlight
{
	
}
